.icon-48-todo { background: transparent url(../images/todo-48.png) no-repeat !important; }

span.todo-due-overdue { color: red; }
span.todo-due-closing { color: #a90; }
span.todo-due-enoughtime { color: green; }

div.todo-clear { clear: left; }
.joomla-version-25 label.todo-label { min-width: 250px; background-color: rgba(0,0,0,0.1); padding: 2px; margin-right: 10px; }
.joomla-version-25 label.todo-label-main { font-weight: bold; font-size: 120%; }
